.app {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    font-size: 4.5rem;
    color: blueviolet;
}

.botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    gap: 5px;
    padding: 10px 20px;
}

button {
    background-color: blueviolet;
    font-size: 1.2rem;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s;
}

button:hover {
    background-color: darkviolet;
    transform: scale(1.1);
}