.app {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(8, 1, 23);
    padding-bottom: 80px;
}

h1 {
    font-size: 4.5rem;
    color: rgb(255, 144, 231);
    margin-top: -40px;
}

.botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -20px;
    gap: 5px;
    padding: 10px 20px;
}

button {
    padding: 10px 20px;
    background-color: rgb(15, 9, 93);
    color: white;
    font-size: 1.2rem;
    font-weight: bolder;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.2s;
}

button:hover {
    background-color: rgb(29, 9, 82);
    transform: scale(1.1);
}

