.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 32px;

  background: linear-gradient(
    to right,
    rgba(121, 0, 151, 0.25),
    rgba(255, 0, 255, 0.35),
    rgba(186, 85, 211, 0.25)
  );

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Pixelify Sans', cursive;
  z-index: 5;
}

.footer-text {
  font-size: 1rem;
  color: #ffffff;
  opacity: 0.9;
  user-select: none;
}
