.botao-voltar {
    display: flex;
    position: absolute;
    top: 60px;
    left: 5%;
    background-color: transparent;
    color: blueviolet;
    font-size: 1.5rem;
    transition: transform 0.4s ease;
}

.botao-voltar:hover {
    background-color: transparent;
    color: darkviolet;
    transform: rotate(-70deg);
}

.botao-finalizar {
    display: flex;
    position: absolute;
    bottom: 40px;
}

#titulo-montagem {
    display: flex;
    position: absolute;
    top: 60px;
    font-size: 1.5rem;
}

.mascara {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.mascara img {
  max-width: 300px;
  height: auto;
}

.lado-esquerdo {
    display: flex;
    position: absolute;
    left: 25%;
    top: 170px;
    flex-direction: column;
    gap: 20px;
}

.lado-direito {
    display: flex;
    position: absolute;
    right: 25%;
    top: 170px;
    flex-direction: column;
    gap: 20px;
}